* {
  margin: 0;
}

body {
 height: 100vh;
 margin: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: white;
}

.container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: column;
 background-color: black;
 padding: 50px;
 border: 1px solid white;
 border-radius: 50px;
 width: 400px;
}
.score-board {
 display: grid;
 grid-template-columns: 1fr 1fr;
 column-gap: 30px;
 margin-bottom: 20px;
}
.home-container, .guest-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 color: white;
 background-color: black;
 border: 5px solid white;
 border-radius: 10px;
 padding: 15px;
 width: 150px;
}
#home-score, #guest-score {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100px;
 width: 100px;
 background-color: black;
 color: white;
 margin-top: 10px;
 margin-bottom: 10px;
 font-size: 50px;
 border: 3px solid white;
}
.btns {
 display: flex;
 width: 120px;
 justify-content: space-between;
}
.btn {
 color: white;
 background-color: black;
 border: 1px solid white;
 border-radius: 3px;
 height: 35px;
 width: 35px;
 cursor: pointer;
 transition: background-color 0.5s, color 0.5s;
}
.btn:hover {
 background-color: white;
 color: black;
}
.btn:focus {
 outline: none;
 border: 1px solid white;
}
#new {
 padding: 10px 146px;
 color: white;
 background-color: black;
 border: 3px solid white;
 border-radius: 10px;
 font-size: large;
 font-weight: bold;
 transition: background-color 0.5s, color 0.5s;
 cursor: pointer;
}
#new:hover {
 background-color: white;
 color: black;
}
#new:focus {
 outline: none;
 border: 3px solid white;
}
.title {
 background-color: black;
 color: white;
 border: 3px solid white;
 border-radius: 10px;
 margin-bottom: 10px;
 font-size: 30px;
 padding: 10px 73px;
}